*{
    margin: 0;
    padding: 0;
}
.a1{
    width: 100%;
    height: 700px;
    /* background-color: red; */
   
}
#as{
    width: 100%;
    height: 100%;
    filter: brightness(60%);
}

#h{
    font-family: 'Dancing Script', cursive;
font-size: 26px;
margin-left: 160px;
padding: 0;
}
#carouselExampleControls{
    margin-top: -620px;
    color: white;
    margin-left: 800px;
   

}
#hh{
    font-size: 65px;
    font-family: 'Dancing Script', cursive;
}
.navbar-nav{

}
.nav-item{
    margin-left:20px ;
}
#sd{
    border:rgb(209, 139, 9) 5px solid;
    border-radius: 200px;
    margin-top: 20px;
    margin-right: 10px;
    
}
.card-title{
    color: white;
    font-family: 'Dancing Script', cursive;
}
.card-button{
    background-color: rgb(209, 139, 9);;
    color: aliceblue;
    border-radius: 30px;
    border: none;
    width: 150px;
    height:40px
}
#sd:hover{
    ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 

}
.our{
    font-family: 'Dancing Script', cursive;
    color: black;
    text-align: center;
    margin-top: 80px;
}
.menu{
    display: flex;
    text-decoration: none;
    list-style: none;
    
}
#na1{
    text-decoration: none !important;
}
.ic{
    color: white;
    height: 30px;
    width: 70px;
    margin-right: 120px;
    margin-top: 15px;
    margin-bottom: 0px;
    display: flex;
}
#icon{
    margin-left:20px;
    margin-right:20px;
}
    

#na1{
    color: black;
    margin:0px;
}
.gghh{
    color:black;
    text-align: center;
    border-radius: 18px;
    width:4rem;
    height: 2rem;
    border:none;
    margin-left: 40px;
    
    margin-top: 30px;
}

.gghh {
    margin-left: 2rem;
    text-decoration: none;
    align-items: center;
}
.card-body{
    background-color: black;
    color: white;
}
#card1{
    width: 152px;
    height: 145px;
    /* background-color: aquamarine; */
    margin-left: 130px;
    margin-top: 35px;
    margin-bottom: 35px;
}
.card{
    margin-right: 30px;
    margin-top: 30PX;
    border-radius: 80px;
    box-shadow: 5px 5px 5px 5px rgb(19, 18, 18);
}
.card12{
    background-color: rgb(197, 164, 16);
    margin-top: 10px;
    color: rgb(247, 250, 252);
    border-radius: 30px;
    border: none;
    width: 150px;
    height:40px
}
.bhbh{
    /* margin-left: 0px; */
    color: aliceblue;
    background-color: rgb(216, 164, 20);
    width: 50px;
    height: 50px;
    border-radius   : 50%;
}
#card1:hover{
    ms-transform: scale(1.4); /* IE 9 */
  -webkit-transform: scale(1.4); /* Safari 3-8 */
  transform: scale(1.4);
}
.bb22{
    width: 11rem;
    height: 3rem;
    background-color: rgb(221, 184, 20);
    color: white;
    border: none;
    border-radius: 30px;
    margin-top: 5rem;
    /* text-align: center; */
    margin-left: 35rem;
}
#fgfg{
 margin-top:90px ;
 margin-bottom: 90px;
 width: 25rem;
height: 34rem;
margin-left: 18rem;
}
#cdcd{
    font-family: "dancing script",cursive;
    color: white;
    margin-top:15rem ;
    margin-left: 4rem;
}
.bnb{
    color: aliceblue;
    background-color: rgb(216, 164, 20);
    width: 11rem;
    height: 3rem;
    border-radius   : 2rem;
    border: none;
}
.mzmz{
    color: black;
    font-family: "dancing script",cursive;
    text-align: center;
    margin-top: 6rem;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
    margin-top:10rem ;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
     position:absolute;
     
}
.bnmn{
    color: aliceblue;
    background-color: rgb(241, 182, 20);
    width: 12rem;
    height: 3rem;
    border-radius   : 2rem;
    border: none;
    margin-top: 1rem;
}
.bnvc{
    font-family: "dancing script",cursive;
    text-align: center;
    margin-top: 5rem;
}
.carouselExampleControls{
    padding:5%;
}
.nm1{
    font-family: "dancing script",cursive;
    color: white;
    text-align: center;
    margin: 3rem;
}
#icons{
    margin-right: 6rem;
    margin-top: 3rem;
    text-align: center;
    /* font-family: "dancing script",cursive; */
}
.pp{
    color: aliceblue;
}
.icon12{
 
   margin: 2rem;
}
.p{
    color: white;
    text-align: center;
    margin-top: 4rem;
}
#i12:hover{
    color: #ceb10d;
}
